@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@400;500;700&family=Roboto&display=swap');
@font-face {
  font-family: "JalpullineunharuM";
  src: url("./font/JalpullineunharuM.ttf");
}
a {
  text-decoration: none;
}
.margin_20 {
  margin: 20px 0;
}
.margin_30 {
  margin: 30px 0;
}
.margin_40 {
  margin: 40px 0;
}
.margin_5 {
  margin: 0 5px;
}
.margin_30_10 {
  margin: 30px 10px;
}

.item_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
}
.between {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #2167C2;
  letter-spacing: 3px;
  margin: 10px 3px;
}
.header_menu {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #434444;
  letter-spacing: 3px;
  margin: 10px 3px;
}
.loginBtn {
  width: 70px;
  height: 40px;
  border: 2px solid #2167C2;
  border-radius: 20px;
  background-color: #FFFFFF;
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #2167C2;
  cursor: pointer;
}
.clickedMenu {
  color: #2167C2;
}
.logo_subtitle {
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding: 30px 30px 30px 6px;
  text-align: center;
  color: #2167C2;
  letter-spacing: 5px;
}
.subtitle {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 19px;
  padding: 0 30px;
  text-align: center;
  color: #676767;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.subtitle_1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 23px;
  padding: 0 30px;
  text-align: center;
  color: #676767;
  letter-spacing: 1px;
  margin-bottom: 30px;
  white-space: nowrap;
}
.subtitle_2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 23px;
  padding: 0 30px;
  text-align: center;
  color: #2167C2;
  letter-spacing: 1px;
  margin-bottom: 30px;
  white-space: nowrap;
}
.subtitle_3 {
  font-family: 'JalpullineunharuM';
  font-weight: 500;
  font-size: 14px;
  padding: 0 30px;
  text-align: center;
  color: #676767;
  letter-spacing: 1px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.subtitle_5 {
  font-family: 'JalpullineunharuM';
  font-weight: 600;
  font-size: 16px;
  padding: 0 30px;
  text-align: center;
  color: #6E6E6E;
  letter-spacing: 1px;
  margin-bottom: 10px;
  line-height: 25px;
  white-space: nowrap;
}
.info {
  font-family: 'JalpullineunharuM';
  font-weight: 600;
  font-size: 12px;
  padding: 0 30px;
  text-align: center;
  color: #FA5858;
  letter-spacing: 1px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.info1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 11.5px;
  padding: 0 30px;
  text-align: center;
  color: #676767;
  letter-spacing: 1px;
}
.info2 {
  font-family: 'JalpullineunharuM';
  font-weight: 500;
  font-size: 13px;
  padding: 0 30px;
  text-align: center;
  color: #676767;
  letter-spacing: 1px;
  line-height: 25px;
  white-space: nowrap;
}
.btn_1 {
  width: 300px;
  padding: 15px;
  border-radius: 26px;
  background-color: #fff;
  border: 2px solid #2167C2;
  color: #2167C2;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 3px;
  cursor: pointer;
}
.btn_2 {
  width: 300px;
  padding: 15px;
  border-radius: 26px;
  background-color: #f5f4f5;
  border: 4px solid #f5f4f5;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #2167C2;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 3px;
  cursor: pointer;
}
.btn_3 {
  width: 300px;
  padding: 15px;
  border-radius: 26px;
  background-color: #fff;
  border: 2px solid #fe301f;
  color: #fe301f;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 3px;
  cursor: pointer;
}
.btn_4 {
  width: 130px;
  padding: 15px;
  border-radius: 35px;
  background-color: #fff;
  border: 2px solid #2167C2;
  color: #2167C2;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 3px;
  cursor: pointer;
}
.tag_btn {
  width: 108px; 
  height: 25px;
  border-radius: 40px;
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 600;
  font-size: 15px;
  background-color: #FFFFFF;
  border: 1.5px solid #2167C2;
  color: #2167C2;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px 0;
}
.card_company {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #676767;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.card_name {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2167C2;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.card_benefit {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #676767;
  letter-spacing: 0.5px;
}
.form_name {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Do Hyeon', sans-serif;
  color: #2167C2;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  white-space: nowrap;
  text-align: left;
  margin-top: 15px;
}
.form_txt {
  width: 190px;
  height: 15px;
  padding: 16.5px 14px;
  border-radius: 7px;
  border: 1px solid #BDBDBD;
}
.form_txt_1 {
  width: 209px;
  height: 15px;
  padding: 16.5px 14px;
  border-radius: 7px;
  border: 1px solid #BDBDBD;
}
.form_txt_login {
  width: 260px;
  height: 20px;
  padding: 16.5px 14px;
  border-radius: 7px;
  border: 1px solid #BDBDBD;
}
.paper {
  width: 300px;
  background-color: rgba(242, 242, 242, 0.7);;
  color: rgba(242, 242, 242, 0.7);
  margin: 10px 0;
  padding: 10px;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%);
}
.popup-wrap {
  background-color:rgba(0,0,0,.3); 
  justify-content:center; 
  align-items:center;     
  position:fixed;         
  top:0;
  left:0;
  right:0;
  bottom:0;              
  display:flex;
  padding:15px; 
}
.popup {
  width: 100%;               
  max-width: 450px;          
  border-radius: 10px;       
  overflow: hidden;         
  background-color:#6E6E6E; 
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 1px;
}
.popup-body {               
  width: 100%;
  background-color:#ffffff; 
}
.body-content {              
  width: 100%;    
  padding: 10px 0;        
}
.body-titlebox {          
  text-align: center;       
  width: 100%;
  height: 40px;
  margin: 25px 0;       
  color: #fe301f;
  font-size: 35px;
}
.body-contentbox {          
  overflow-y: auto;          
  min-height: 100px;         
  max-height: 300px;  
  color:#333333;       
  font-size: 13.5px;
  text-align: center;
}
.popup-footer {
  height: 35px;
  display: flex;
  justify-content: space-evenly;
}
.pop-btn {
  color:#ffffff;
  font-size: 15px;
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
}
.line {
  width: 1px;
  height: auto;
  background-color: #FFFFFF;
  margin: 0 10px 0 -10px;
}
#txtField.MuiOutlinedInput-input {
  width: 280px;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333333;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 1px;
}